<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Josefin Sans", sans-serif;
}
a{
    text-decoration: none;
}
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    /* background-color: red; */
}
header nav{
    gap: 20px;
    display: flex

}
header nav a {
    font-size: 1.2 rem;
    color: #002e8a;
    
}
header nav a:nth-of-type(3) {
    order: 1;
}
main aside{
    background-color: red;
    height: calc(100dvh - 114px);
}
=======
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    padding-inline: 100px;
    justify-content: space-between;
}

header nav {
    gap: 20px;
    display: flex;
}

header nav a {
    color: #002e8a;
    font-size: 1.2rem;
}

header nav a:nth-of-type(3) {
    order: 1;
}

main aside {
    background-color: red;
    height: calc(100dvh - 114px);
}

>>>>>>> ee525d6 (design header)
main section {
    background-color: green;
    height: calc(100dvh - 114px);
}